.card-click {
  height: 200px;
  width: 200px;
  position: absolute;
  border: none;
  opacity: .7;
  background-color: red;
  font-size: 24px;
  cursor: pointer;
  font-family: FontAwesome;
  outline: none;
}
